<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @giveaway.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @giveaway.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @giveaway.email %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @giveaway.answer %>
</p>
