<div class="header">
  <center>
  <%= image_tag("logo-cropped.png", :class => "main-logo") %>
  </center>
</div>
<div class="main-nav">
  <center>
    <p class="menu-list"><%= link_to 'Home', root_path %></p>
    <p class="menu-list"><%= link_to 'About Us', about_path %></p>
    <p class="menu-list"><%= link_to 'Find Coupons', coupon_path %></p>
    <p class="menu-list"><%= link_to 'Business Directory', businesses_path %></p>
    <p class="menu-list"><%= link_to 'FAQ', faq_path %></p>
    <p class="menu-list"><%= link_to '$100 Giveaway', new_giveaway_path %></p>
  </center>
</div>